@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;  
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #FCEEC8; 
}
.container{ /*Este es el cuadro azul en el que estan las imagenes de los pokemon*/
    width: 90%;
    margin: auto;   
    padding-top: 100px;
    display: flex;
}

.left-content,.right-content{
    flex-basis: 50%;
}
.left-content{   
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap:2rem;
}

.card{   /*Aquí se le organiza la estetica, ubicación y tamaño al contenedor*/
    width: 300px;
    background-color:#9EDEF9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.card:hover{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
}
.right-content{
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
    top:100px;
    right: 10px;
}

.contenedor{
    width: 250px;
    margin-left: 188px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(255, 255, 255, 0.29);
}
.right-content img{
    margin: 1.5rem;
    height: 160px;
}
.right-content h1{
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(#22dd92, #3e497a);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
    
}
.abilities{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    background-color: #b74555;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}
.base-stat{
    margin-top: 2rem;
}
.btn-group{
    display: flex;
}
.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
    border-radius: 8px;
}